<div class="container">
  <div class="row">
        <div class="carousel-inner col-md-6" >
          <div 
            *ngFor="let image of images; let i = index"
            class="carousel-item active"
            [ngClass]="{ active: i == 0 }"
          >
            <img
              src="https://localhost:44383/{{ image.imagePath }}"
              class="d-block w-50 mx-auto"
              alt="..."
            />
          </div>
        </div>
    
  <div *ngIf="currentCar">
        <table class="table">
          <tbody>
            <tr>
              <th>İd</th>
              <td>{{ currentCar.carId }}</td>
            </tr>
            <tr>
              <th>Renk</th>
              <td>{{ currentCar.colorName }}</td>
            </tr>
            <tr>
              <th>Marka</th>
              <td>{{ currentCar.brandName }}</td>
            </tr>
            <tr>
              <th>Model İsmi</th>
              <td>{{ currentCar.carName }}</td>
            </tr>
            <tr>
              <th>Model</th>
              <td>{{ currentCar.modelYear }}</td>
            </tr>
            <tr>
              <th>Günlük Fiyat</th>
              <td>{{ currentCar.dailyPrice }}</td>
            </tr>
            <tr>
              <th>Açıklama</th>
              <td>{{ currentCar.description }}</td>
            </tr>
          </tbody>
        </table>
  </div>
<button  type="button" class="btn btn-success">Kirala</button>
</div>
</div>