


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Araba İd</th>
      <th scope="col">Ad</th>
      <th scope="col">Soyad</th>
      <th scope="col">Mail</th>
      <th scope="col">Marka</th>
      <th scope="col">Renk</th>
      <th scope="col">Model Yılı</th>
      <th scope="col">Günlük Ücret</th>
      <th scope="col">Kiralama Tarihi</th>
      <th scope="col">Teslim Tarihi</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let rental of rentals">
      <td >{{ rental.carId }}</td>
      <td >{{ rental.firstName }}</td>
      <td >{{ rental.lastName }}</td>
      <td>{{ rental.email }}</td>
      <td >{{ rental.brand }}</td>
      <td>{{ rental.color }}</td>
      <td>{{ rental.modelYear}}</td>
      <td>{{ rental.dailyPrice }}</td>
      <td>{{rental.rentDate | date:'dd/MM/yyyy'}}</td>
      <td>{{rental.returnDate | date:'dd/MM/yyyy'}}</td>
    </tr>
  </tbody>
</table>