<app-navi></app-navi>
<div class="container m-3">

  <div class="row mx-auto">
    <div class="col-3">
      <div class="bg-light shadow rounded p-2 m-1">
        <app-color></app-color>
      </div>      
      <div class="bg-light shadow rounded p-2 m-1">
        <app-brand></app-brand>
      </div>  
    </div>
    <div class="col-9">
      <div class="bg-light shadow rounded p-2 m-1">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  
</div>


<div class="container">
  
  <div class="row">
    <div class="col-md-4">
      
    </div>
    <div class="col-md-3">
      
    </div>
    <div class="col-md-3">
      
    </div>
    <div class="col-md-5">
      <app-customer></app-customer>
    </div>
    <div class="col-md-3">
      <app-rental></app-rental>
    </div>
  </div>
</div>